/1987arquitectos.com.uy
/agroinsumossarandi.com.uy
/agroymascotas.com.uy/styles.scss
/embajadadebolivia.uy
/casillasagricolas.com.uy
/cvrserviciosrurales.com.uy
/agroveterinariaelestribo.com.uy/styles.scss

# ginkgopm.com.uy
/ginkgopm.com.uy/node_modules
/ginkgopm.com.uy/public
/ginkgopm.com.uy/.env

# /expobienestar.ginkgopm-photo-gallery
/expobienestar.ginkgopm-photo-gallery/node_modules
/expobienestar.ginkgopm-photo-gallery/public
/expobienestar.ginkgopm-photo-gallery/.firebase
/expobienestar.ginkgopm-photo-gallery/.firebaserc
/expobienestar.ginkgopm-photo-gallery/firebase.json
/expobienestar.ginkgopm-photo-gallery/build

# weather-module
/weather-module/node_modules
/weather-module/.firebase
/weather-module/.firebaserc
/weather-module/firebase.json
/weather-module/build
/weather-module/public