/1987arquitectos.com.uy
/agroinsumossarandi.com.uy
/agroymascotas.com.uy/styles.scss
/embajadadebolivia.uy
/casillasagricolas.com.uy
/cvrserviciosrurales.com.uy
/agroveterinariaelestribo.com.uy/styles.scss

# carlosbachino.com
/carlosbachino.com/style.css
/carlosbachino.com/style.css.map
/carlosbachino.com/config.js

# ginkgopm.com.uy-video-gallery
/ginkgopm.com.uy-video-gallery/node_modules
/ginkgopm.com.uy-video-gallery/dist
/ginkgopm.com.uy-video-gallery/public
/ginkgopm.com.uy-video-gallery/utils
/ginkgopm.com.uy-video-gallery/.env
/ginkgopm.com.uy-video-gallery/.firebase
/ginkgopm.com.uy-video-gallery/.firebaserc
/ginkgopm.com.uy-video-gallery/firebase.json

# /expobienestar.ginkgopm-photo-gallery
/expobienestar.ginkgopm-photo-gallery/node_modules
/expobienestar.ginkgopm-photo-gallery/public
/expobienestar.ginkgopm-photo-gallery/.firebase
/expobienestar.ginkgopm-photo-gallery/.firebaserc
/expobienestar.ginkgopm-photo-gallery/firebase.json
/expobienestar.ginkgopm-photo-gallery/build

# gerontologia.ginkgopm-photo-gallery
/gerontologia.ginkgopm-photo-gallery/assets
/gerontologia.ginkgopm-photo-gallery/assets-url.js

# weather-module
/weather-module/node_modules
/weather-module/.firebase
/weather-module/.firebaserc
/weather-module/firebase.json
/weather-module/build
/weather-module/public