/* variables */
$greenColor: #65b231;
$hoverColor: #ccc;

/* ocultar botones favoritos y comparar, nivel stock y codigo producto */
div.quick_btn,
.add-to-favorites.wishlist,
.add-to-compare,
#productdetailsview .wrapper2 .fright {

  & .stock,
  & .code {
    display: none !important;
  }
}

/* estilizado de breadcrumbs */
.top-breadcrumbs,
.breadcrumb {
  background-color: $greenColor !important;

  >.active {
    color: #fff !important;
  }
}

/* estilizado de enlace en footer */
#t3footnav {
  .customfoot1 {
    a:hover {
      color: $hoverColor !important;
    }
  }
}

/* igualar tamaño de miniaturas en catálogo */
.img-wrapper.big.second {
  height: 140px !important;
}