@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #148ba9;
    --dark-primary: #1c758e;
    --mid-dark: #85868c;
    --dark: #222222;
    --dark-gray: #b4b5bb;
    --gray: #f4f4f4;
    --white: #ffffff;

    --box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --border-radius: 100px;
    --transition: ease-in-out all .25s;
}

@import './buttons';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: "Poppins", sans-serif;
}

#root {
    max-width: 1300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--dark);
}

.posts-wrapper {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .item-wrapper {
        .image-wrapper {
            height: auto;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                opacity: 1;

                &:hover {
                    opacity: .9;
                }
            }

            .metadata-wrapper {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 30;
                display: flex;
                flex-flow: column nowrap;
                min-height: 80px;
                min-width: 42px;
                padding: .2rem 0;
                background: var(--white);
                color: var(--dark);
                align-items: center;
                text-decoration: none;
                font-weight: 700;
                font-size: .8rem;
                box-shadow: var(--box-shadow);

                span {
                    padding: .2rem;
                    border-bottom: 1px solid var(--dark-gray);

                    &:first-child {
                        font-size: 1rem;
                    }

                    &:last-child {
                        border-bottom: none;
                        font-weight: 400;
                        font-size: .7rem;
                    }
                }
            }
        }

        .info-wrapper {
            background-color: var(--gray);
            padding: 2rem;

            h3,
            p {
                margin-bottom: 1rem;
            }

            h3 {
                font-size: 1.5rem;
            }

            p {
                font-size: .9rem;
                color: var(--mid-dark);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .posts-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .posts-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}