@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&display=swap');

:root {
    --bg-color: #f7f7f7;
    --text-color: #818181;
    --title-color: #2a2a2a;
    --white: #fff;
}

.gray-bg-color {
    background-color: var(--bg-color);
}

#root {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--text-color);
    text-align: center;
}

#root .service-item {
    margin: 2rem 0;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
    transition: all ease-in-out .25s;
}

#root .service-item:hover,
#root .service-item:active {
    background-color: var(--white);
}

#root .service-item .icon-container i {
    font-size: 2.5rem;
}

#root .service-item h4 {
    font-family: "Play", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--title-color);
}
